.filter-change,
.filter-frequency-change,
.filter-Q-change {
	margin-bottom: 7px;
	width: 100%;
}
.filter-name-container {
	width: 130px;
	border-radius: 30px;
	background-color: ivory;
	box-shadow: inset 1px 1px 5px black;
	padding: 10px;
	margin-left: 10%;
}
.fil-btn-container {
	width: 50px;
	flex-direction: column;
}
.filter-Q-change {
	justify-content: space-around;
}
.freq {
	margin-left: 5px;
}
