.control-panel {
	width: 90%;
	background-color: rgba(66, 66, 66, 0.3);
	box-shadow: 2px 2px 5px black;
	border-radius: 10px;
	flex-direction: column;
}
.upper-control,
.lower-control {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.upper-control {
	height: 100px;
	border-bottom: 2px solid #666;
}
.lower-control {
	height: 150px;
}
