.centerIt {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn {
	flex-direction: column;
}
.control-container {
	justify-content: space-around;
}
.control-container p {
	padding: 5px;
}
.ocs-type {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.ocs-type p {
	grid-column: 1/3;
}
.ocs-type button:focus {
	background-color: lightcoral;
}
